aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.0.9
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argcomplete @ file:///tmp/build/80754af9/argcomplete_1618920853202/work
argon2-cffi @ file:///C:/ci/argon2-cffi_1613038019788/work
arrow==1.2.1
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
async-generator==1.10
async-timeout==4.0.1
asyncssh==2.8.1
asynctest==0.13.0
atomicwrites==1.4.0
atpublic==2.3
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
awscli==1.22.23
Babel==2.9.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
binaryornot==0.4.4
bleach @ file:///tmp/build/80754af9/bleach_1628110601003/work
botocore==1.23.23
brotlipy @ file:///D:/bld/brotlipy_1636012439160/work
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046306023/work
chardet==4.0.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click @ file:///D:/bld/click_1635822853436/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
commonmark==0.9.1
configobj==5.0.6
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1638573090458/work
cookiecutter==1.7.3
coverage==6.2
cryptography @ file:///D:/bld/cryptography_1637649123707/work
databricks-cli @ file:///home/conda/feedstock_root/build_artifacts/databricks-cli_1625585787545/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///C:/ci/debugpy_1637091911212/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dictdiffer==0.9.0
diskcache==5.3.0
distro==1.6.0
docker @ file:///D:/bld/docker-py_1638897489175/work
docker-pycreds==0.4.0
docutils==0.15.2
dpath==2.0.5
dulwich==0.20.26
dvc==2.9.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
flake8==4.0.1
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
flatten-dict==0.4.2
flufl.lock==6.0
frozenlist==1.2.0
fsspec==2021.11.1
ftfy==6.0.3
funcy==1.16
future==0.18.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1632423794953/work
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
grandalf==0.6
greenlet @ file:///D:/bld/greenlet_1635836961909/work
httplib2==0.20.2
idna==3.3
imagesize==1.3.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1638543113403/work
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel @ file:///C:/ci/ipykernel_1633527406033/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1635944342510/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.4.0
jaraco.structures==2.1.0
jaraco.text==3.6.0
jaraco.ui==2.3.0
jaraco.windows==5.7.0
jedi @ file:///C:/ci/jedi_1611315820849/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///C:/ci/jupyter_core_1636537209059/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
lxml==4.6.5
mailchecker==4.1.6
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1637170539581/work
MarkupSafe @ file:///D:/bld/markupsafe_1635833748820/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
mistune @ file:///C:/ci/mistune_1594373272338/work
mlflow @ file:///D:/bld/mlflow-split_1638943817401/work
more-itertools==8.12.0
multidict==5.2.0
nanotime==0.5.2
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1624479160228/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.6.3
notebook @ file:///C:/ci/notebook_1637161899610/work
numpy @ file:///D:/bld/numpy_1636145475359/work
oauth2client==4.1.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1636223595114/work
pandas-datareader==0.10.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
path==16.2.0
pathspec==0.9.0
phonenumbers==8.12.39
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pluggy==1.0.0
ply==3.11
poyo==0.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1637500132928/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.1
psutil==5.8.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydot==1.4.2
PyDrive2==1.10.0
pyflakes==2.4.0
pygit2==1.7.2
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pygtrie==2.4.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent @ file:///C:/ci/pyrsistent_1636093257833/work
PySocks @ file:///D:/bld/pysocks_1635862618120/work
pytest==6.2.5
python-benedict==0.24.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.19.2
python-editor==1.0.4
python-fsutil==0.5.0
python-slugify==5.0.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
pywin32==302
pywinpty==0.5.7
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435182681/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1632739723211/work
QtPy @ file:///tmp/build/80754af9/qtpy_1629397026935/work
querystring-parser==1.2.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
rich==10.15.2
rsa==4.7.2
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
scikit-learn==1.0.1
scipy==1.7.3
scmrepo==0.0.4
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
shortuuid==1.0.8
shtab==1.5.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy @ file:///D:/bld/sqlalchemy_1639086209896/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
-e git+https://github.com/genbid007-ml/churn_model.git@83bac0cbdfb055d962f5198304d7dfbf0b0c9bba#egg=src
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1614001031686/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode==1.3
threadpoolctl==3.0.0
toml==0.10.2
tornado @ file:///C:/ci/tornado_1606935947090/work
tqdm==4.62.3
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
voluptuous==0.12.2
waitress @ file:///home/conda/feedstock_root/build_artifacts/waitress_1615198980306/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
widgetsnbextension==3.5.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832912576/work
wincertstore==0.2
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
